appdirs==1.4.4
asgiref==3.6.0
astroid==2.4.2
backcall==0.2.0
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
colorama==0.4.4
decorator==4.4.2
distlib==0.3.1
Django==4.1.5
filelock==3.0.12
futures==3.1.1
googletrans==3.0.0
goslate==1.5.1
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2020.11.21
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
idna==2.10
imageio==2.9.0
imageio-ffmpeg==0.4.2
inflection==0.5.1
ipykernel==5.3.4
ipython==7.19.0
ipython-genutils==0.2.0
isort==5.6.4
jedi==0.17.2
joblib==0.17.0
jupyter-client==6.1.7
jupyter-core==4.6.3
lazy-object-proxy==1.4.3
mccabe==0.6.1
more-itertools==8.6.0
moviepy==1.0.3
nltk==3.5
numpy==1.19.4
pandas==1.1.4
parso==0.7.1
pickleshare==0.7.5
Pillow==8.0.1
pipenv==2020.11.15
proglog==0.1.9
prompt-toolkit==3.0.8
PyAudio @ file:///C:/Users/ASUS/Downloads/PyAudio-0.2.11-cp39-cp39-win_amd64.whl
Pygments==2.7.2
pylint==2.6.0
python-dateutil==2.8.1
pytz==2020.4
pywin32==300
pyzmq==20.0.0
Quandl==3.5.3
regex==2020.11.13
requests==2.24.0
rfc3986==1.4.0
six==1.15.0
sniffio==1.2.0
SpeechRecognition==3.8.1
sqlparse==0.4.1
textblob==0.15.3
toml==0.10.2
tornado==6.1
tqdm==4.52.0
traitlets==5.0.5
tzdata==2022.7
urllib3==1.25.11
virtualenv==20.2.1
virtualenv-clone==0.5.4
wcwidth==0.2.5
wrapt==1.12.1
